
//background barre de recherche
$backgroundSearch: #E5E5E5;

//background recherche par ingrédients
$backgroundIngredient:  #3282F7;

//background recherche par appareils
$backgroundAppareil: #68D9A4;

//background recherche par ustensiles
$backgroundUstensil:  #ED6454;
