
////////////////// les filtres 
.filter {
  width: 100%;
  height: 69px;
  display: flex;
 
  .filter__container {
    @include contenairFilterButton;

    .dropdown-logo {
      width: 17px;
    }
    .dropup-logo {
      width: 17px;
      display: none;
    }
  }

  .filter__container__text {
    @include textFilter;
  }

.allIngredient-result, .allappareils-result, .allustensiles-result {
  color: white;
  margin: 0px 0px 0px 0px;
}

.researchIngredients {
  @include inputResearch;
  background-color: $backgroundIngredient; 
}

.researchAppareils {
  @include inputResearch;
  background-color: $backgroundAppareil;
}

.researchUstensiles {
  @include inputResearch;
  background-color: $backgroundUstensil;
}

.researchIngredients::placeholder, .researchAppareils::placeholder, .researchUstensiles::placeholder {
  color: #FFFFFF;
  font-size: 18px;
  opacity: 0.5;
}

.filter__container:hover {
  cursor: pointer;
}

}