
////////////////// les filtres 
.filter {
  width: 100%;
  height: 69px;
  display: flex;
  margin-top: 20px;

  .filter__container {
    @include contenairFilterButton;

    .dropdown-logo {
      width: 17px;
    }
    .dropup-logo {
      width: 17px;
      display: none;
    }
    &:hover {
      @include hoverFilter;
    }
  }
  .filter__container__text {
    @include textFilter;
  }
}