//////////////////////////// barre de recherche

.search__input {
  width: 99%;
  height: 69px;
  background-color: $backgroundSearch;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 20px;
  &:hover {
    @include hoverFilter;
    cursor: default;
  }
}

.search__loupe {
  width: 25px;
  position: absolute;
  right: 115px;
  top: 160px;
}
